/**************************************
********** Responsive css style *******
***************************************/

/* Tablet devices css */
@media screen and (min-width: 688px) and (max-width: 992px) {
  /* Header style */
  .container,
  .hero-area {
    padding: 50px 70px 76px;
  }
  .hero {
    grid-template-columns: repeat(1, 1fr);
  }
  .hero-text h1 {
    font-size: 48px;
    line-height: 62px;
    font-weight: 700;
    margin-top: 30px;
  }
  .all-player {
    grid-template-columns: repeat(2, 1fr);
  }
  .hero-picture {
    display: block;
    text-align: center;
  }
  .hero-picture img {
    margin-top: 75px;
    width: 85%;
  }
}

/* Mobile devices css */
@media screen and (max-width: 688px) {
  /* Header style */
  .container {
    padding: 0 15px;
  }
  .hero-area {
    padding: 50px 60px 40px 25px;
  }
  .hero {
    grid-template-columns: repeat(1, 1fr);
  }
  .hero-text h1 {
    font-size: 36px;
    line-height: 50px;
    margin-top: 0px;
  }
  .hero:hover > .hero-picture img {
    transform: scale(1) rotate(0);
  }
  .hero-picture {
    display: block;
    text-align: center;
  }
  .hero-picture img {
    margin-top: 50px;
    width: 93%;
  }

  /* Player section style */
  .all-player {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    margin-top: 47px;
  }
  .player {
    padding: 15px;
    margin-bottom: 24px;
  }

  .player-description h3.player-name {
    margin-top: 2px;
  }

  /* news section style */
  .news-section h2.section-heading {
    padding-top: 2em;
  }
  .all-news {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 3.5em;
  }
  .news {
    width: 100%;
    margin-bottom: 35px;
    background-color: #fff;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
  }
  .news:last-child {
    margin-left: 0%;
  }

  /* Footer style */
  footer {
    margin-top: 50px;
  }
  .logo img {
    width: 65%;
    height: auto;
    margin-left: -10px;
  }
  .social-icon {
    padding-bottom: 28px;
  }
}
