/**************************************
********** Responsive css style *******
***************************************/

/* Teblet device css */
@media screen and (max-width: 992px) {
  /* Header style */
  .container,
  .hero-area {
    padding: 50px 70px 76px;
  }
  .hero {
    grid-template-columns: repeat(1, 1fr);
  }
  .hero-text h1 {
    font-size: 48px;
    line-height: 62px;
    font-weight: 700;
    margin-top: 30px;
  }
  .all-player {
    grid-template-columns: repeat(2, 1fr);
  }
  .hero-picture img {
    margin-top: 75px;
  }
}

/* Mobile device css */
@media screen and (max-width: 680px) {
  /* Header style */
  .container {
    padding: 0 15px;
  }
  .hero-area {
    padding: 50px 60px 40px 25px;
  }
  .hero {
    grid-template-columns: repeat(1, 1fr);
  }
  .hero-text h1 {
    font-size: 36px;
    line-height: 50px;
    margin-top: 0px;
  }
  .hero:hover > .hero-picture img {
    transform: scale(1) rotate(0);
  }
  .hero-picture img {
    margin-top: 50px;
  }

  /* Player section style */
  .all-player {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    margin-top: 47px;
  }
  .player {
    padding: 15px;
    margin-bottom: 24px;
  }

  .player-description h3.player-name {
    margin-top: 2px;
  }

  /* Footer style */
  footer {
    margin-top: 50px;
  }
  .logo img {
    width: 65%;
    height: auto;
    margin-left: -10px;
  }
  .social-icon {
    padding-bottom: 28px;
  }
}
