/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/**************************************
*********** Default css style *********
***************************************/
* {
  transition: all 0.5s ease-in-out;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  padding: 50px 141px 76px 115px;
}
img {
  width: 100%;
}

/**************************************
************* Header style ************
***************************************/
header {
  background-color: #2d25a0;
  color: #fff;
}
.hero-area {
  padding: 50px 130px 76px 115px;
}
.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.hero-picture {
  display: flex;
  align-items: center;
}
.hero:hover > .hero-picture img {
  transform: scale(1.1) rotate(-359deg);
}
.hero-text h1 {
  font-size: 64px;
  line-height: 80px;
  font-weight: 700;
  margin-top: 60px;
}
.hero-text a.btn {
  font-size: 16px;
  background-color: #e02c6d;
  width: 168px;
  height: 44px;
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-picture img {
  width: 100%;
}

/**************************************
********** Player section style *******
***************************************/
.all-player {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
}
.player {
  padding: 15px 15px 12px 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  margin-bottom: 27px;
}

.player-description h3.player-name {
  color: #18191f;
  font-size: 28px;
  line-height: 40px;
  font-weight: 700;
  margin-top: 6px;
  margin-bottom: 0px;
}
.player-description p {
  color: #6c6c6c;
  font-size: 16px;
  line-height: 26px;
  margin-top: 10px;
}

/**************************************
********** Footer section style *******
***************************************/
footer {
  text-align: center;
  margin-top: 98px;
}
.logo {
  width: 100%;
  height: auto;
}
.logo img {
  width: 484px;
  height: 110px;
}
.social-icon {
  padding: 20px 0;
}
.social-icon a {
  background-color: #e7e7e8;
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  margin: 0 5px;
}
.social-icon a i {
  padding: 7.5px 0;
  color: #969bab;
}
footer p {
  font-size: 18px;
  line-height: 24px;
  margin: 0 auto 63px;
}
